@model IEnumerable<expense_management_app.Models.Transaction>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    <a asp-action="AddOrEdit">Create New</a>
</p>
<div class="row">
    <div class="col-md-7">
        <ejs-grid id="transactions" dataSource="@Model" gridLines="None" allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Category" field="CategoryTitleWithIcon"></e-grid-column>
                <e-grid-column headerText="Date" field="Date" width="110px"></e-grid-column>
                <e-grid-column headerText="Amount" field="FormattedAmount" width="110px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center" style="background-color: #212b36">
            <i class="fa-solid fa-shapes fa-2xl"></i>            
        </div>
    </div>
</div>
