@using Microsoft.AspNetCore.Identity
@using expense_management_app.Areas.Identity.Data

@inject SignInManager<UserLogin> SignInManager
@inject UserManager<UserLogin> UserManager

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<Object> menuItems = new List<Object>();

    menuItems.Add(new
    {
        text = "General",
        separator = true,
    });
    menuItems.Add(new
    {
        text = "Dashboard",
        url = "/Dashboard",
        iconCss = "fa-solid fa-box",
    });

    menuItems.Add(new
    {
        text = "Categories",
        url = "/Category",
        iconCss = "fa-solid fa-folder-closed",
    });

    menuItems.Add(new
    {
        text = "Transactions",
        url = "/Transaction",
        iconCss = "fa-solid fa-arrow-right-arrow-left",
    });
}

@if (SignInManager.IsSignedIn(User))
{
<ejs-sidebar id="sidebar" width="290px" enableDock dockSize="100px">
        <e-content-template>

            <div class="logo-wrapper">
                <div class="app-logo">
                    <img src="~/favicon-32x32.png"/>
                </div>
                <div class="w-100">
                 
                </div>
            </div>

            <div class="profile-wrapper">
                <img />
                <div class="titles d-flex flex-column ps-3">
                    <h6 class="mb-0">Expense management</h6>
                    <a id="manage" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                            <button id="logout" type="submit" class="btn btn-primary">Logout</button>
                     </form>
                </div>
            </div>

            <ejs-menu id="menu" items="menuItems" orientation="Vertical" hamburgerMode></ejs-menu>
        </e-content-template>
    </ejs-sidebar>
}
else 
{
    <ejs-sidebar id="sidebar" width="0"></ejs-sidebar>
}

    



